body {
    margin: 0;
    padding: 0;
}
h2{
    color: brown;
}
span{
    color: bisque;
}
a{
    text-decoration: none;
    color: yellow;
}

p{
    color: blue;
}

p {
    text-decoration: line-through;
    color: red;
}

p {
    color: black;
}

p {
    color: yellow;
}